
.cursor--small {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 11000;
  background: #ffffff;

  @media screen and (max-width: 768px){
    display: none;
  }
}

.cursor--large {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 11000;
  background: transparent;
  border: 1px solid #ffffff;
  transition: 200ms cubic-bezier(0.44, 0.87, 0, 1.35);

  @media screen and (max-width: 768px){
    display: none;
  }
}